/*
HOVERNAV
========
A simple addition to the dropdown menu (Bootstrap itself is unchanged). Navbar dropdowns appear on hover.
This works only for screen sizes larger than phones.

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
@media (min-width: 768px) {
  .navbar-nav .open ul {
    display: none
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block
  }
}

/*
MEGANAV
=======
A simple addition to the dropdown menu (Bootstrap itself is unchanged). When you add GRAND-CHILD links in the navbar: on screens larger than phones, Meganav will transform the dropdown into a mega-menu, with child-links displayed as menu-column heads (in bold).

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
.mega-menu ul a {
	color: #666;
}
.has-children > a {
	font-size: 15px;
	font-weight: bold !important
}
@media (max-width: 767px) {
	.has-children ul {
		display: block !important;
		margin-left: 15px
	}
}
@media (min-width: 768px) {
	.dropdown.mega-menu {
		position: static;
	}
	.mega-menu > .dropdown-menu {
		left: 0;
		right: 0;
		overflow-x: auto
	}
	.mega-menu > ul > li {
	  display:table-cell;
	}
	.mega-menu > ul ul {
		position: relative;
		display: block !important;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 0
	}
	.has-children {
		border-right: 1px solid #e7e7e7
	}
	.has-children:last-of-type {
		border-right: 0
	}
}


/*
Max content widths
*/
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Site Title
==========
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
    display: inline-block;
	padding-left 60px;
    background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/*
Site footer
*/

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}

/*
Commentlist
*/

ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
    padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
    content: "Thread " counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    position:absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    padding: 5px 20px 5px 10px;
    color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
    list-style-type: none;
    margin: 0
}

.commentlist li li {
    background: #f8f8f8;
}
.commentlist li li li {
    background: #fff
}
.commentlist li li li li {
    background: #f8f8f8
}
.commentlist li li li li li li {
    background: #fff
}
.commentlist li {
    padding: 20px
}
.commentlist ul li {
    margin-top: 20px;
    margin-bottom: 0
}
.reply p {
    margin: 0
}

/*
WOOCOMMERCE - re-styling to match Bootstrap
===========================================
If you don't want this to use the WooCommerce plugin, or if you don't want these styles below, then delete this entire segment of the CSS and delete the corresponding segment of bst-plus.js

Notice that some of the styles below are for compatibility with Bootstrap Theme. If you are not using Bootstrap Theme, then delete those portions below.
*/

.woocommerce a:focus {
  outline: none
}
.woocommerce .count {
  background: inherit
}
.woocommerce .added_to_cart {
  display: block !important
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  padding-top: 0
}
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	/* .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .btn-primary */
	color: #FFF;
	background: #337AB7;
	border-color: #2E6DA4;
	/* BOOTSTRAP THEME .btn-primary */
	background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
	background-repeat: repeat-x;
	border-color: #245580;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
	/* Extra fixes */
	text-shadow: none;
	/* box-shadow: none; */
	/* Un-comment the line above if you are not using the BOOTSTRAP THEME. */
}
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
	/* .btn-primary:hover */
	color: #FFF;
	background: #286090;
	border-color: #204D74;
	/* BOOTSTRAP THEME .btn-primary:hover */
	background-color: #265A88;
	background-position: 0px -15px;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
	/* .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .btn-success */
	color: #FFF;
	background-color: #5CB85C;
	border-color: #4CAE4C;
	/* BOOTSTRAP THEME .btn-success */
	background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
	background-repeat: repeat-x;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
	/* Extra fixes */
	text-shadow: none;
	/* box-shadow: none; */
	/* Un-comment the line above if you are NOT using the BOOTSTRAP THEME. */
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
	/* Extras fixes */
	background: none;
	text-shadow: none;
	/* .btn-success:hover */
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
	/* BOOTSTRAP THEME .btn-success:hover */
	background-color: #419641;
	background-position: 0px -15px;
}


.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error {
	/* Extra fixes */
	padding: 0;
	margin: 0;
	position: relative;
	border-top: none;
	background: none;
	text-shadow: none;
	list-style: outside none none !important;
	width: auto;
	/* box-shadow: none; */
	/* Un-comment the line above if you are NOT using the BOOTSTRAP THEME. */
	/* .alert */
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .alert-danger */
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	/* BOOTSTRAP THEME .alert */
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	/* BOOTSTRAP THEME .alert */
	background-image: linear-gradient(to bottom, #F2DEDE 0px, #E7C3C3 100%);
	background-repeat: repeat-x;
	border-color: #DCA7A7;
}
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:after,
.woocommerce-page .woocommerce-error:before {
	display: none;
}

/* Maritime Styling */
.header-background {
	background-color: #CC1819;
	margin-bottom: 30px;
}

.around-line {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin-bottom: 40px;
}
.around-line span {
	background:#fff;
	padding:0 10px;
}

#site-title {
	font-size: 40px;
	margin-top: 10px;
  	margin-bottom: 0px;
}

.footer-background {
	margin-top: 20px;
	background-color: #eeeeee;
}
.cta-background {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: -20px;
	background-color: #222;
}
.cta-background p {
	color: #fff;
}

.cta-icon {
	margin: 50px;
	width: 150px;
}

.logo-slider {
	border: 1px solid #ddd;
	width: 270px;
}

.background-product-list {
	background: #fafafa;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #efefef;
}

.background-product-list-header {
	background: #CC181B;
	margin: -20px;
	margin-bottom: 0;
	padding: 20px;
}

.background-product-list-header h3{
	color: #f0f0f0;
	margin: 0;
	text-transform: uppercase;
}

.product-list-item {
	margin-top: 20px;
}
.product-list-item .img-responsive{
	margin-top: 10px;
}
.product-list-item-more {
	padding: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #eee;
}
